@import "mixins";
@import "style";

main {
	background-color: $background-color;
	box-shadow: $box-shadow;
	section {
		box-shadow: $box-shadow;
		padding-bottom: 1em;
	}
	h2 {
		font-size: 1.25em;
		padding-top: 1em;
		padding-bottom: 0.5em;
		padding-left: 0.5em;
	}
	.card-container {
		display: flex;
		flex-wrap: wrap;
		width: fit-content;
		justify-content: space-evenly;
		gap: 1em;
		padding-left: 2em;
		padding-right: 2em;
		.card {
			display: flex;
			flex-direction: column;
			background-color: $input-background-color;
			border-radius: 25px;
			box-shadow: $box-shadow;
			.cover-art {
				background-color: $background-color;
				border-top-right-radius: 25px;
				border-top-left-radius: 25px;
				margin-bottom: 1em;
			}
			.info {
				margin-bottom: 2em;
			}
			.actions {
				display: flex;
				justify-content: space-around;
				margin-bottom: 0.5em;
			}
			.stars {
				filter: drop-shadow($drop-shadow);
			}
			.add-collection {
				filter: drop-shadow($drop-shadow);
				width: 1em;
			}
			.add-wishlist {
				filter: drop-shadow($drop-shadow);
				width: 1em;
				margin-right: 0.5em;
			}
		}
	}
}
