@import "style";

body {
	height: 100vh;
}

main {
	position: relative;
	text-align: center;
	p {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(10px);
		border-radius: 25px;
		color: $background-color;
		text-shadow: 0 4px 6px black;
		font-size: 2em;
		padding: 5%;
	}
	.cta {
		@include button;
		position: absolute;
		top: 55%;
		left: 42.5%;
		width: 15%;
	}
	img {
		width: 100%;
	}
}

@media (max-width: 600px) {
	body {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	header {
		nav {
			display: none;
		}
		div {
			justify-content: space-between;
			a {
				width: 30%;
				picture {
					img {
						// transform: scale(75%);
					}
				}
			}
			form {
				display: none;
			}
		}
	}

	.search-icon {
		display: block;
	}

	.burger {
		display: block;
		width: 2.5em;
		padding-left: 0.25em;
	}

	main {
		background-color: $background-color;
		img {
			display: none;
		}
		p {
			position: static;
			transform: none;
			background-color: transparent;
		}
		.cta {
			position: static;
			width: auto;
		}
		padding-bottom: 1em;
	}
}
