@import "style";

main {
	position: relative;
	text-align: center;
	div {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(10px);
		border-radius: 25px;
		color: $background-color;
		text-shadow: 0 4px 6px black;
		font-size: 2em;
		padding: 5%;
	}
	.cta {
		@include button;
		position: absolute;
		top: 55%;
		left: 42.5%;
		width: 15%;
	}
	img {
		width: 100%;
	}
}
