@import url("variables.css");

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	width: 33%;
	height: 50%;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: var(--background-color);
	padding: 2em;
	border-radius: 25px;
}

input[type="email"],
input[type="password"] {
	font-family: var(--main-font);
	border: none;
	box-shadow: var(--inset--shadow);
	border-radius: 50px;
	padding: 1em;
	background-color: var(--input-background-color);
	width: 95%;
	align-self: center;
}

input[type="email"]:focus {
	outline: 0;
}

fieldset > * {
	padding: 0.2em;
}

fieldset > *:nth-child(3n) {
	margin-bottom: 1em;
}
