@import "variables";
@import "mixins";
@import url(css-reset.css);
@import url(style.css);

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	width: 33%;
	height: 50%;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: $background-color;
	padding: 2em;
	border-radius: 25px;
	* {
		padding: 0.2em;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		font-family: $main-font;
		border: none;
		box-shadow: $inset-shadow;
		border-radius: 50px;
		padding: 1em;
		background-color: $input-background-color;
		width: 95%;
		align-self: center;
		margin-bottom: 1em;
	}
	input[type="email"]:focus {
		outline: 0;
	}
	button {
		@include button;
		align-self: center;
		padding-left: 15%;
		padding-right: 15%;
		margin-top: 2em;
	}
	#password-desc {
		margin-bottom: 15%;
	}
}
