@use "style";
@use "mixins";
@use "variables";


body {
	height: 100vh;
}

main {
	position: relative;
	text-align: center;
	p {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(10px);
		border-radius: 25px;
		color: variables.$background-color;
		text-shadow: 0 4px 6px black;
		font-size: 2em;
		padding: 5%;
	}
	.cta {
		@include mixins.button;
		position: absolute;
		top: 55%;
		left: 42.5%;
		width: 15%;
	}
	img {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	main {
		background-color: variables.$background-color;
		img {
			display: none;
		}
		p {
			position: static;
			transform: none;
			background-color: transparent;
		}
		.cta {
			position: static;
			width: auto;
		}
		padding-bottom: 1em;
	}
}
